*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-message{
    padding: 20px 0;
}

.img-responsive{
    width: 80px;
}

.product-description{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-description{
    margin-left: 15px;
}

.box-size{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-box{
    margin-left: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.box{
   vertical-align: middle;
}

.convert-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}